<template>
  <b-container aling-v="center">
    <b-row>
      <wareCard v-for="ware in wares" :key="ware.id" :title="ware.title" :id="ware.id" :img_alt="ware.date_created" :img_src="ware.pictures[0]" :text="ware.about_info" :price="ware.price"/>
    </b-row>
    <b-row>
      <b-form @submit="onSubmit" @reset="onReset" v-if="show">
        <b-form-group
          id="input-group-1"
          label="Title:"
          label-for="input-1"
          description="We'll never share your email with anyone else."
        >
          <b-form-input
            id="input-1"
            v-model="form.title"
            required
            placeholder="Enter name"
          ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-2" label="Description:" label-for="input-2">
          <b-form-input
            id="input-2"
            v-model="form.about_info"
            required
            placeholder="Enter description"
          ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-3" label="Type:" label-for="input-3">
          <b-form-select
            id="input-3"
            v-model="form.type"
            :options="kinds"
            required
          ></b-form-select>
        </b-form-group>

        <b-form-group id="input-group-4" label="Price:" label-for="input-4">
          <b-form-input
            id="input-4"
            v-model="form.price"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-5">
          <b-form-file
            v-model="form.pictures"
            :state="Boolean(form.pictures)"
            multiple
            placeholder="Choose a file or drop it here..."
            drop-placeholder="Drop file here..."
            id="files" ref="files" @change="handleFileUploads()"
            accept="image/*"
          ></b-form-file>
        </b-form-group>

        <b-form-group id="input-group-6">
          <b-form-checkbox-group v-model="form.checked" id="checkboxes-5">
            <b-form-checkbox value="me">Check me out</b-form-checkbox>
            <b-form-checkbox value="that">Check that out</b-form-checkbox>
          </b-form-checkbox-group>
        </b-form-group>

        <b-button type="submit" variant="primary">Submit</b-button>
        <b-button type="reset" variant="danger">Reset</b-button>
    
      </b-form>
    </b-row>
  </b-container>
</template>

<script>
// @ is an alias to /src
import wareCard from '@/components/wareCard.vue'
import axios from 'axios'

export default {
  name: 'Home',
  components: {
    wareCard,
  },
  data() {
    return { 
      wares: [],
      form: {
        title: '',
        about_info: '',
        type: '',
        price: '',
        pictures: []
      },
      kinds: [{ text: 'Select One', value: null }, 'Wood Crafts', 'Paintings'],
      show: true
    }
  },
  mounted() {
    this.fetchData()
  },
  methods: {
    async fetchData() {
      const values = await axios.get('http://' + this.SERVER_URL + '/all.json');
      this.wares = values.data;
    },
    onSubmit(evt) {
      evt.preventDefault()
      this.postFormData()
      alert(JSON.stringify(this.form))
    },
    onReset(evt) {
      evt.preventDefault()
      // Reset our form values
      // Trick to reset/clear native browser form validation state
      this.resetWareForm()
      this.show = false
      this.$nextTick(() => {
        this.show = true
      })
    },
    postFormData: function () {
      const formData = new FormData();
      formData.append('type', this.form.price);
      formData.append('title', this.form.title);
      formData.append('about_info', this.form.about_info);
      formData.append('price', this.form.price);
      for (var i = 0; i < this.form.pictures.length; i++) {
        formData.append(String(i) + '.img', this.form.pictures[i]);
      }
      axios({
        method: 'post',
        url: 'http://' + this.SERVER_URL + '/save_picture',
        data: formData,
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'multipart/form-data',
        }
      })
      .then(function (response) {
        if (response.status == 201) {
          console.log(response);
          this.resetWareForm();
          this.fetchData();
        }
      })
      .catch(function(error) {
        window.location = "/"
      });
    },
    resetWareForm: function () {
      this.form.title = '';
      this.form.type = '';
      this.form.about_info = '';
      this.form.price = '';
      this.$refs.files.value = null;
    },
    handleFileUploads(event) {
      this.form.pictures = this.$refs.files.files;
      // .filter(function(item) {
        // if (item.type.match('image.*')){ return item }
      // })
    },
  }
}

</script>
