<template>
    <b-col>
        <div>
        <b-card
            :title="title"
            img-top
            :img-src="img_src"
            :img-alt="img_alt"
            :tag="tag"
            style='max-width: 20rem;'
            class='mb-2'
            :footer="price"
        >
            <b-card-text>
                {{ text }}
            </b-card-text>

            <b-button :href="'wares' + id" variant="primary">More</b-button>
        </b-card>
        </div>
    </b-col>
</template>

<script>
export default {
    name: 'wareCard',
    props: ['id', 'title', 'img_src', 'img_alt', 'tag', 'text', 'price']
}
</script>